*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(240, 240, 240);
}

header{
    background-color: #fff;
    height: 100px;
}

#logo-lista{
    width: 75px;
    margin: 0.5%;
    vertical-align: middle;
}

h1{
    display: inline;
    vertical-align: middle;
    font-family: system-ui;
    font-size: xxx-large;
}
h2{
    font-family: system-ui;
}

main{
    margin-top: 3%;
}

.width{
    background-color: #fff;
    width: 75%;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 3%;
}


.bottone{
    background-color: lightblue;
    border: 0;
    width: 84px;
    padding: 5px;
    border-radius: 5px;
    margin: 1%;
    margin-left: 5%;
    color: #fff;
}
.input{
    border-radius: 5px;
    padding: 5px;
    width: 94px;
}   

hr{
    border-color: rgb(255 255 255);
}

.corpo-centrale{
    margin-top: 2%;
    margin-left: 5%;  
}
p{
    display: inline;
    font-family: system-ui;
    font-weight: 650;

}

section{
    margin: 2% 0%;  
}


.span-riga{
    background-color: cornflowerblue;
    padding: 5px;
    border-radius: 11px;
    color: #fff;
    font-family: system-ui;
    font-size: smaller;

}
.colore1{
    background-color: rgb(156, 90, 218);
}
.colore2{
    background-color: rgb(179, 179, 137);
}
.colore3{
    background-color: orange;
}
.colore4{
    background-attachment: rgb(139, 57, 71);
}
.colore5{
    background-color: yellowgreen;
}
.unico{
    padding-bottom: 2%;
}