*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blue;
}

header{
    background-color: #fff;
    height: 100px;
}

#logo-lista{
    width: 75px;
    margin: 0.5%;
}
h1{
    display: inline;
    vertical-align: 35px;
    font-family: system-ui;
}
h2{
    font-family: system-ui;
}

main{
    margin-top: 3%;
}

.width{
    background-color: #fff;
    width: 75%;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 3%;
}

.bottone1{
    background-color: lightblue;
}

.bottone{
    width: 84px;
    padding: 5px;
    border-radius: 5px;
    margin: 1%;
    margin-left: 5%;
    color: #fff;
}
.input{
    border-radius: 5px;
    padding: 5px;
    width: 94px;
}   

hr{
    border-color: rgb(255 255 255);
}

.corpo-centrale{
    margin-top: 2%;
    margin-left: 5%;  
}
p{
    display: inline;
}
